{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css" rel="stylesheet" integrity="sha384-+d4wMJSxEP3vzs2qZBElQRTZMXwgWH15Nyn2K/9XjKiHmh3sBuk1Un/IbcdMcYC4" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">

{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container-fluid">

<div class="jumbotron">
    <p>If a book about failures doesn’t sell, is it a success?</p>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
    {% for tech in technology %}
    <ul>{{tech.content}}</ul>
    {% endfor %}
</div>
<div class="col-md-4"></div>
<div class="col-md-4"></div>
<div class="col-md-4">
    {% for pitch in funny %}
    <ul>{{pitch.username}}</ul>
    <ul>{{pitch.content}}</ul>
    {% endfor %}
</div>
<div class="col-md-4"></div>

</div>
{% endblock %}

</html>
